* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
  font-family: "SF Pro";
}

/* body {
  background-image: url("img/background.mp4");
  background-size: cover;
} */

#background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.notify {
  text-align: center;
  margin: 10px;
  margin-left: auto;
  width: 300px;
  background-color: rgb(34, 34, 34);
  opacity: 0.7;
  color: white;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  display: none;
  animation: pointer 1s ease-in-out infinite;
}

.notify:hover {
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

@keyframes pointer {
  0% {
    filter: brightness(100%);
  }
  25% {
    filter: brightness(120%);
  }
  50% {
    filter: brightness(100%);
  }
  75% {
    filter: brightness(80%);
  }
  100% {
    filter: brightness(100%);
  }
}

.content {
  padding: 10px;
}

/* .buttons{
  margin: 20px 0 0 0;
} */

.time {
  background-color: #36aaf9;
  height: 5px;
  animation: pulse 3s linear infinite;
}

@keyframes pulse {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(150%);
  }
  100% {
    filter: brightness(100%);
  }
}

hr {
  margin: 10px 0 10px 0;
  border-radius: 100%;
}

.logo {
  position: absolute;
  left: 10%;
  top: 60%;
  width: 1px;
  height: 1px;
  transform: scale(0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}
